# 数値型に対する操作：対数化・正規化ほか
# Operations on numeric types:Logarithmic/Normalization/etc

## Load Data

In [ ]:
library(dplyr)
source('preprocess/load_data/data_loader.R')
load_hotel_reserve()

## Integer and double in numeric

In [ ]:
n = 40000 / 3

n
mode(n)
typeof(n)

i = as.integer(n)

i
mode(i)
typeof(i)

n2 = as.double(i)

n2
mode(n2)
typeof(n2)


c = "100"

c
mode(c)
typeof(c)

i2 = as.numeric(c)

i2
mode(i2)
typeof(i2)

##  Logarithmic

In [ ]:
result <- reserve_tb %>%
  mutate(total_price_log = log((total_price / 1000 + 1), 10))

result[1:10,]

## Ordinal

[Level of measurement](https://en.wikipedia.org/wiki/Level_of_measurement)

Nominal and ordinal in R, using "factor" type.

Interval and Ratio in R, using "numeric" type.

In [ ]:
result <- customer_tb %>%
  mutate(age_rank = as.factor(floor(age / 10) * 10))

result[1:10,]

## Normalization

In [ ]:
result <- reserve_tb %>%
  mutate(
    people_num_normalized = scale(people_num, center = TRUE, scale = TRUE),
    total_price_normalized = scale(total_price, center = TRUE, scale = TRUE)
  )

result[1:10,]

## Outlier (three-sigma rule)

Using [three-sigma rule](https://en.wikipedia.org/wiki/68%E2%80%9395%E2%80%9399.7_rule).

In [ ]:
result <- reserve_tb %>%
  filter(abs(total_price - mean(total_price)) / sd(total_price) <= 3)

result[1:10,]